* {
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
}

.primary-color {
    color: rgb(255, 84, 0);

}


.header-section {
    max-width: 1250px;
    /* border: 2px solid blue; */
    margin: 10px auto;
    display: flex;
    justify-content: space-around;

}

.nav-title {
    /* border: 2px solid red; */
    min-height: 40px;
    display: flex;
    align-items: center;
    /* border: 2px solid blue; */
    width: 50%;
    gap: 10px;
    font-size: 32px;

}

.list-section {
    /* border: 2px solid yellow; */
    margin-left: 20px;
    width: 50%;
    display: flex;
    align-items: center;
}

.menu-icon {
    display: none;

}

.material-icons {
    display: none;
}

.list-section li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    font-size: 20px;
}

.list-section a {
    text-decoration: none;
    color: rgb(66, 66, 71);

}

/* banner section */
.banner-section {
    max-width: 1350px;
    margin: 20px auto;
    padding: 20px;
    /* border: 3px solid red; */

}

.banner-section img {
    width: 1150px;
    height: 500px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(0.5);
    position: relative;
}

.banner-details-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}

.banner-intro h1 {
    font-size: 64px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-intro p {
    font-size: 18px;
    margin-bottom: 54px;
}

.banner-input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 16px;
    border-radius: 5px;
}

.banner-input input, button {
    width: 144px;
    height: 50px;
    border-radius: 1em;
    box-sizing: border-box;
    text-align: center;
    border: none;
    margin-right: 10px;
    font-size: 16px;
}

.banner-input button {
    background-color: orangered;
    color: white;
    font-weight: bold;
}

/* popuar-tour */
.popular-tour-section {
    max-width: 1350px;
    margin: 80px auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.popular-tour-details h2 {
    font-size: 40px;
    margin-bottom: 24px;
}

.popular-tour-details p {
    font-size: 18px;
    margin-bottom: 24px;
}

.popular-tour-details li {
    font-size: 18px;
    margin-bottom: 16px;
}

.popular-tour-img img {
    width: 500px;
    height: 500px;
}